adfv212/PartialArmTemplates/ArmTemplate_12_30_2019_11_17_3.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adfv212"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/CopyPipeline_n6i')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_n6i",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "Purchasing.PurchaseOrders"
							},
							{
								"name": "Destination",
								"value": "bacpac-database//"
							}
						],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "PurchaseOrderID",
											"type": "Int32"
										},
										"sink": {
											"name": "PurchaseOrderID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "SupplierID",
											"type": "Int32"
										},
										"sink": {
											"name": "SupplierID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "OrderDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "OrderDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "DeliveryMethodID",
											"type": "Int32"
										},
										"sink": {
											"name": "DeliveryMethodID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ContactPersonID",
											"type": "Int32"
										},
										"sink": {
											"name": "ContactPersonID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ExpectedDeliveryDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "ExpectedDeliveryDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "SupplierReference",
											"type": "String"
										},
										"sink": {
											"name": "SupplierReference",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "IsOrderFinalized",
											"type": "Boolean"
										},
										"sink": {
											"name": "IsOrderFinalized",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "Comments",
											"type": "String"
										},
										"sink": {
											"name": "Comments",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "InternalComments",
											"type": "String"
										},
										"sink": {
											"name": "InternalComments",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LastEditedBy",
											"type": "Int32"
										},
										"sink": {
											"name": "LastEditedBy",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "LastEditedWhen",
											"type": "DateTime"
										},
										"sink": {
											"name": "LastEditedWhen",
											"type": "DateTime"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_n6i",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_n6i",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Stored Procedure1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy_n6i",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[Integration].[GetStockHoldingUpdates]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Web1",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Copy_n6i",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "burrisamathareddy@gmail.com",
							"method": "GET"
						}
					},
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Stored Procedure1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[Integration].[GetStockHoldingUpdates]",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Quantity On Hand",
											"type": "Int32"
										},
										"sink": {
											"name": "Quantity On Hand",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "Bin Location",
											"type": "String"
										},
										"sink": {
											"name": "Bin Location",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Last Stocktake Quantity",
											"type": "Int32"
										},
										"sink": {
											"name": "Last Stocktake Quantity",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "Last Cost Price",
											"type": "Decimal"
										},
										"sink": {
											"name": "Last Cost Price",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "Reorder Level",
											"type": "Int32"
										},
										"sink": {
											"name": "Reorder Level",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "Target Stock Level",
											"type": "Int32"
										},
										"sink": {
											"name": "Target Stock Level",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "WWI Stock Item ID",
											"type": "Int32"
										},
										"sink": {
											"name": "WWI Stock Item ID",
											"type": "Int32"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_n6i",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_n6i",
								"type": "DatasetReference"
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DestinationDataset_n6i')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_n6i')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Purchasing.PurchaseOrders.csv",
						"container": "bacpac-database"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		}
	]
}