adfv212/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adfv212"
		},
		"AzureBlobStorage1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlobStorage1'"
		},
		"AzureSqlDatabase1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureSqlDatabase1'"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobStorage1_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlDatabase1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('AzureSqlDatabase1_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_n6i')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "bacpac-database"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_n6i')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "PurchaseOrderID",
						"type": "int",
						"precision": 10,
						"scale": 255
					},
					{
						"name": "SupplierID",
						"type": "int",
						"precision": 10,
						"scale": 255
					},
					{
						"name": "OrderDate",
						"type": "date",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "DeliveryMethodID",
						"type": "int",
						"precision": 10,
						"scale": 255
					},
					{
						"name": "ContactPersonID",
						"type": "int",
						"precision": 10,
						"scale": 255
					},
					{
						"name": "ExpectedDeliveryDate",
						"type": "date",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "SupplierReference",
						"type": "nvarchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "IsOrderFinalized",
						"type": "bit",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "Comments",
						"type": "nvarchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "InternalComments",
						"type": "nvarchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "LastEditedBy",
						"type": "int",
						"precision": 10,
						"scale": 255
					},
					{
						"name": "LastEditedWhen",
						"type": "datetime2",
						"precision": 255,
						"scale": 7
					}
				],
				"typeProperties": {
					"schema": "Purchasing",
					"table": "PurchaseOrders"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyPipeline_n6i')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_n6i",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "Purchasing.PurchaseOrders"
							},
							{
								"name": "Destination",
								"value": "bacpac-database//"
							}
						],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "PurchaseOrderID",
											"type": "Int32"
										},
										"sink": {
											"name": "PurchaseOrderID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "SupplierID",
											"type": "Int32"
										},
										"sink": {
											"name": "SupplierID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "OrderDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "OrderDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "DeliveryMethodID",
											"type": "Int32"
										},
										"sink": {
											"name": "DeliveryMethodID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ContactPersonID",
											"type": "Int32"
										},
										"sink": {
											"name": "ContactPersonID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ExpectedDeliveryDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "ExpectedDeliveryDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "SupplierReference",
											"type": "String"
										},
										"sink": {
											"name": "SupplierReference",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "IsOrderFinalized",
											"type": "Boolean"
										},
										"sink": {
											"name": "IsOrderFinalized",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "Comments",
											"type": "String"
										},
										"sink": {
											"name": "Comments",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "InternalComments",
											"type": "String"
										},
										"sink": {
											"name": "InternalComments",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LastEditedBy",
											"type": "Int32"
										},
										"sink": {
											"name": "LastEditedBy",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "LastEditedWhen",
											"type": "DateTime"
										},
										"sink": {
											"name": "LastEditedWhen",
											"type": "DateTime"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_n6i",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_n6i",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Stored Procedure1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy_n6i",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[Integration].[GetStockHoldingUpdates]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Web1",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Copy_n6i",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "burrisamathareddy@gmail.com",
							"method": "GET",
							"headers": {}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SourceDataset_n6i')]",
				"[concat(variables('factoryId'), '/datasets/DestinationDataset_n6i')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		}
	]
}